<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PromisesKitApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>310A205D1EAE814A00A7D5F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>310A20711EAE814A00A7D5F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>310A207C1EAE814A00A7D5F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
